$brand: saturate(#359DC4, 10%);
$brand-dark: darken($brand, 20%);
$brand2: #4FC0E9;
$brand3: #D56FAC;
$brand4: #967ADC;
$light: #fff;
$dark: darken(saturate($brand, 25%), 47.5%);

$mobile: 480px;
$tablet: 768px;
