$brand: saturate(#359DC4, 10%);
$brand-dark: darken($brand, 20%);
$brand2: #4FC0E9;
$brand3: #D56FAC;
$brand4: #967ADC;
$light: #fff;
$dark: darken(saturate($brand, 25%), 47.5%);

$mobile: 480px;
$tablet: 768px;

$font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

$weight-bold: 700;
$weight-default: 300;
